includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon
  - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
  level: max
  scanFiles:
    - vendor/boson-php/cpu-info/resources/stubs/constants.stub
    - vendor/boson-php/http/resources/stubs/constants.stub
    - vendor/boson-php/os-info/resources/stubs/constants.stub
    - vendor/boson-php/uri/resources/stubs/constants.stub
  strictRules:
    allRules: true
  fileExtensions:
    - php
  paths:
    - src
  tmpDir: vendor/.cache.phpstan
  treatPhpDocTypesAsCertain: false
